.card {
  margin: 16px 16px 0px 16px;
}
.search {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.create {
  display: flex;
  justify-content: right;
  margin-bottom: 16px;
}
